#graph{
    margin: 15px auto;
    display: block;

}
.figure-shape {
    fill: #cf1a1a;

}

.figure-shape1 {
    fill: darkorange;

}

.figure-shape2 {
    fill: #d9d901;

}

.figure-shape3 {
    fill: forestgreen;

}

.figure-shape4 {
    fill: #1e2cbe;

}

.figure-axis {
    stroke-width: 2px;
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-anim 2.5s linear forwards;
}

.figure-axis-arrow {
    stroke: white;
    stroke-width: 2px;
    fill: white;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    fill-opacity: 0;
    animation: draw-anim 2s linear forwards;
}

.figure-axis-dash {
    stroke-width: 2px;
    stroke: white;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    animation: draw-anim 1s linear forwards;
}

.figure-axis-text {
    fill-opacity: 0;
    fill: white;
    font-size: small;
    animation: draw-anim 2.5s linear forwards;
}

@keyframes draw-anim {
    50% {
        fill-opacity: 0.8;
    }
    80% {
        fill-opacity: 0.9;
    }
    to {
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}
