#graph{
    margin: 15px auto;
    display: block;

}

.figure-shape {
    fill: #cf1a1a;
    stroke-width: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure-shape1 {
    fill: darkorange;
    stroke-width: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure-shape2 {
    fill: #d9d901;
    stroke-width: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure-shape3 {
    fill: forestgreen;
    stroke-width: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure-shape4 {
    fill: #1e2cbe;
    stroke-width: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure-axis {
    stroke-width: 2px;
    stroke: white;
}

.figure-axis-arrow {
    stroke: white;
    stroke-width: 2px;
    fill: white;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    fill-opacity: 1;
}

.figure-axis-dash {
    stroke-width: 2px;
    stroke: white;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    fill-opacity: 1;
}

.figure-axis-text {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    fill: white;
    font-size: small;
}

