#figure {
    width: 500px;
}

.figure__shape {
    fill: red;
    stroke-width: 0px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure__shape1 {
    fill: orange;
    stroke-location: inside;
    stroke-width: 0px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure__shape2 {
    fill: yellow;
    stroke-width: 0px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure__shape3 {
    fill: green;
    stroke-width: 0px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure__shape4 {
    fill: blue;
    stroke-width: 0px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill-opacity: 100;
}

.figure__axis {
    stroke-width: 2px;
    stroke: black;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill-opacity: 1;
    stroke-dashoffset: 0;
}

.figure__axis-arrow {
    stroke: black;
    stroke-width: 2px;
    fill: black;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    fill-opacity: 1;
}

.figure__axis-dash {
    stroke-width: 2px;
    stroke: black;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    fill-opacity: 1;
}

.figure__axis-mark {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    fill: black;
}